.chats-list {
  background: var(--dash-bg-clr);
  border-radius: 10px;
  padding-bottom: 1em;
}

.chats-list h2 {
  padding: 1em 0 0 1em;
  color: var(--sec-clr);
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .chats-list {
    border-radius: 0;
    width: 100%;
    margin-top: 1em;
  }
}
