.btn {
  font-size: var(--fs-sm);
  border-radius: 1.875rem;
  border: 1px solid var(--pry-clr);
  cursor: pointer;
}

.dark {
  background: var(--pry-clr);
  color: var(--sec-clr);
  padding: 0.8em 3.125em;
}

@media (max-width: 600px) {
  .btn {
    font-size: 1rem;
  }

  .dark {
    padding: 0.7em 1em;
  }

  .light {
    display: none;
  }
}

.dark:hover {
  background: transparent;
  color: var(--pry-clr);
}

.light {
  background: transparent;
  color: var(--pry-clr);
  padding: 0.8rem 1.875rem;
}

.light:hover {
  background: var(--pry-clr);
  color: var(--sec-clr);
}

.login-btn {
  display: block;
  margin: 50px auto 20px auto;
  width: 50%;
}
