.client-data {
  background: #252728;
  border-radius: 10px;
  margin-left: 1em;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .client-data {
    display: none;
  }
}

.client-address {
  margin: 1em 0 0 1em;
}

.client-address h2 {
  font-size: 1.2rem;
  padding-bottom: 0.8em;
  color: var(--sec-clr);
}

.client-address p {
  font-size: 0.85rem;
  padding: 0.2em 0;
  color: #a7a7a7;
}

.client-address p span {
  font-weight: 900;
  font-size: 1rem;
  color: var(--sec-clr);
  padding-right: 1em;
}

.clients-data-inverter-details {
  margin: 1em;
}
