*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pry-clr: #12151c;
  --sec-clr: #f5f5f5;
  --fs-sm: 1.25rem;
  --fs-m: 1.5rem;
  --fs-lg: 2.25rem;
  --fs-xxxl: 6rem;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--pry-clr);
}

.header {
  background-color: var(--sec-clr) !important;
}
